@{
    ViewData["Title"] = "Bestiary";
    Layout = "~/Views/Shared/_ParchmentLayout.cshtml";
}
<h2 class="epic-header text-center"> The Bestiary</h2>
<p class="text-center text-light">The bestiary will soon contain a plethora of monsters and horrors.</p>

